Postegre-Mediatheque-Web/src/main/webapp/wsdl/mediathequewebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="mediathequeMmebre" targetNamespace="http://www.mediatheque.fr/ws/media" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.mediatheque.fr/ws/media" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://interfacecxf.mediatheque.postegre/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:import namespace="http://interfacecxf.mediatheque.postegre/" location="InterfaceCxf.wsdl">
    </wsdl:import>
  <wsdl:binding name="mediathequeMmebreSoapBinding" type="ns1:InterfaceCxf">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMembreByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMembreByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMembreByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MediathequeException">
        <soap:fault name="MediathequeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="existMembre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="existMembre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="existMembreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MediathequeException">
        <soap:fault name="MediathequeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MediathequeException">
        <soap:fault name="MediathequeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAllMembre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteAllMembre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAllMembreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MediathequeException">
        <soap:fault name="MediathequeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="add">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MediathequeException">
        <soap:fault name="MediathequeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMembreByMail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMembreByMail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMembreByMailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MediathequeException">
        <soap:fault name="MediathequeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="edit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="edit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="editResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MediathequeException">
        <soap:fault name="MediathequeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMembreAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMembreAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMembreAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MediathequeException">
        <soap:fault name="MediathequeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mediathequeMmebre">
    <wsdl:port name="MediathequeWebServicePort" binding="tns:mediathequeMmebreSoapBinding">
      <soap:address location="http://localhost:8080/controleur/service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
